.diagram {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #b136d3;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    
    height:auto;
}

.info {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    text-align: left;
}