/* LoadingScreen.css */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8); /* Dark background for better visibility */
    opacity: 1; /* Start fully visible */
    
    z-index: 1000;
  }
  
  .loading-overlay.hidden {
    opacity: 0; /* Fade to fully transparent */
    visibility: hidden; /* Ensures it doesn't interfere after disappearing */
    transition: visibility 0s 1.3s, opacity 1s ease-in-out; /* Adjust transition for hiding */
  }