.smaller-title-section {
  color: #ffffff;
  margin-top: 300px;
  /* Initial state - set as hidden */
  opacity: 0;
  transform: translateY(50px);
}

.smaller-title-section.visible {
  /* Visible state */
  animation: fadeInUp 1s ease-in-out forwards;
}

.smaller-title-section.hidden {
  /* Hidden state */
  animation: fadeOutDown 1s ease-in-out forwards;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(50px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOutDown {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(50px); }
}
